name: reusable npm-publish oidc

on:
  workflow_call:
    inputs:
      lockfile:
        description: 'Whether to expect a lockfile or not'
        required: false
        default: false
        type: boolean
      npm-tag:
        description: 'The distribution tag to publish to on npm'
        required: false
        default: 'latest'
        type: string

permissions:
  contents: read
  id-token: write

jobs:
  npm_publish:
    name: Publish to npm
    runs-on: ubuntu-latest
    environment: npm

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          show-progress: false
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'

      # Ensure we always use the latest npm so that we eg. can use OIDC publishing: https://github.blog/changelog/2025-07-31-npm-trusted-publishing-with-oidc-is-generally-available/
      - name: Use latest npm
        run: npm install -g npm@latest

      - if: inputs.lockfile == false
        run: npm install
      - if: inputs.lockfile == true
        run: npm ci

      - run: npm publish --access public --tag=${{ inputs.npm-tag }}
